
*, html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

section{
    height: 100vh;
    padding: 2rem;
}

body {
    background-color: #525252;
    height: 1000px;
    overflow-y: auto;
}

nav {
    display:flex;
    justify-content: center;
    padding: 1rem 3rem;
    
}

nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C2C2C;
    font-weight: 600;
    opacity: 50%;
    padding: 5px;
    transition: all;
    transition-duration: 300ms;
}

nav ul li a:hover {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid #E52020;
}   

ul div {
    position: absolute;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    top: 400px;
    bottom: 120px;
    left: 0px;
    right: 0px;
    width: 700px;
    height: 400px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   }
   
ul div img {
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    margin: auto;
    top: 10px;
    bottom: 0px;
    right: 0px;
    left: 350px;
}